* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
}
.main_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
}

.left_section {
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 100%;
  position: relative;
}
.left_section .menu {
  display: flex;
  padding: 20px;
  font-size: 19px;
  align-items: center;
  justify-content: space-between;
}
.menu a {
  color: rgb(121 124 124);
  margin: 0 10px;
}
.menu .ri-arrow-left-line {
  font-size: 1.8rem;
  color: black;
  opacity: 0.3;
}
.menu a.active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  color: black;
  padding-bottom: 8px;
}
.menu a i {
  font-size: 22px;
  color: #1da1f2;
}

.left_section .left_content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.left_content h1 {
  font-size: 5rem;
  font-weight: 600;
}
.left_content p {
  line-height: 25px;
  margin-bottom: 20px;
  opacity: 0.3;
}
.left_content .read_more {
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.right_section {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: rgb(39, 152, 204);
}

.rtop {
  height: 50%;
  width: 100%;
  display: flex;

  background-color: green;
}
.rtop_left {
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=474&q=80);
  background-size: cover;
  background-position: center;
}
.rtop_right {
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1605723937099-84ce35162741?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
}
.rbottom {
  width: 100%;
  height: 50%;
  background: url(https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (max-width: 700px) {
  .main_wrapper {
    flex-direction: column;
  }
  .left_section {
    width: 100%;
  }
  .right_section {
    width: 100%;
  }
  .rbottom {
    background-position: center;
  }
  .left_section h1 {
    font-size: 4rem;
  }
}
